APCA_API_KEY_ID=replace-with-alpaca-key
APCA_API_SECRET_KEY=replace-with-alpaca-secret
NEWSDATA_API_KEY=replace-with-newsdata-key
# FINANCE_DB_FILE=/home/your-user/.local/share/df-financeterminal/mtg.db
