[Unit]
Description=Poll the OpenInsider screener every %i

[Timer]
OnActiveSec=1min
OnUnitInactiveSec=%i
AccuracySec=15s
Unit=openinsider-screener@%i.service

[Install]
WantedBy=timers.target

